#welcome{
    /* width: 100%; */
    display: block;
    text-align: center;
    margin-top: 236px;
    /* margin-right: 100px; */
}

#login-form {
    margin-top: 20px;
    margin-left: 32px;
    margin-right: 32px;
}

#help {
    width: 100%;
    position: absolute;
    bottom: 16px;
    left: 0;
}